﻿@inherits UmbracoViewPage
<section id="banner" style="background-image:url('@Umbraco.AssignedContentItem.GetProperty("helloBanner").Value()')">
    <div class="inner">
        <h1>
            @Umbraco.AssignedContentItem.GetProperty("introduction").Value()
        </h1>
        <ul class="actions">
            <li><a href="@Umbraco.AssignedContentItem.GetProperty("introHyperLink").Value()" class="button alt">@Umbraco.AssignedContentItem.GetProperty("introLinkLabel").Value()</a></li>
        </ul>
    </div>
</section>
