﻿@inherits UmbracoViewPage
<section id="one">
    <div class="inner">
        <header>
            <h2>@Umbraco.AssignedContentItem.GetProperty("welcomeTitle").Value()</h2>
        </header>
        <p>@Umbraco.AssignedContentItem.GetProperty("welcomeSummary").Value()</p>
        <ul class="actions">
            <li><a href="@Umbraco.AssignedContentItem.GetProperty("welcomeLink").Value()" class="button alt">@Umbraco.AssignedContentItem.GetProperty("hyperLinkText").Value()</a></li>
        </ul>
    </div>
</section>
