﻿<div class="inner">
    <header>
        <h2>Contact us</h2>
    </header>
    @using (Html.BeginUmbracoForm("HandleSubmitForm", "Contact", FormMethod.Post))
    {
        <div class="field half first">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required="required" />
        </div>
        <div class="field half">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required="required" />
        </div>
        <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6" required="required"></textarea>
        </div>
        <ul class="actions">
            <li><input type="submit" value="Send Message" class="alt" /></li>
        </ul>
    }
</div>

