﻿@using WebApplication1.Models
@inherits UmbracoViewPage<List<NavigationList>>

@{
    var langs = Umbraco.ContentAtRoot();
}
<header id="header">
    <div class="inner">
        <a href="@Model[0].Link.Url" class="logo">introspect</a>
        <nav id="nav">
            @foreach (var lang in langs)
            {
                if (lang.HasProperty("languageFlag"))
                {
                    var flag = lang.GetProperty("languageFlag").Value();
                    <a href="@lang.Url" class="language">
    
                    <img src="@flag.ToString()" height="15" width="23" />
                </a>
            }

        }

            @RenderSubItems(Model)
        </nav>
    </div>
</header>

@helper RenderSubItems(List<NavigationList> listItems)
{
    if (listItems != null)
    {
        foreach (var item in listItems)
        {
            <a href="@item.Link.Url" target="@item.Link.Target">@item.Link.Text</a>
            if (item.HasSubNavigation)
            {
                <ul>
                    @RenderSubItems(item.NavItems)
                </ul>
            }
        }
    }
}

