﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "webbaseTemplate.cshtml";
}

<section id="footer">
    <div class="inner">
        @if(TempData["ContactUsSuccess"] != null && (bool)TempData["ContactUsSuccess"])
        {
            <h2>Thank you for your message. We will be contacting you soon</h2>
        }
        else
        {
            Html.RenderAction("RenderContact", "Contact");
        }
    </div>
</section>
