﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "webbaseTemplate.cshtml";
}

<!-- Main -->
<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>Elements</h1>
            <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
        </header>

        <!-- Text -->
        @{ Html.RenderAction("RenderSectionText", "Elements");}

        <!-- Lists -->
        @{ Html.RenderAction("RenderSectionLists", "Elements");}

        <!-- Table -->
        @{ Html.RenderAction("RenderSectionTable", "Elements");}

        <!-- Buttons -->
        @{ Html.RenderAction("RenderSectionButtons", "Elements");}

        <!-- Form -->
        @{ Html.RenderAction("RenderSectionForm", "Elements");}

        <!-- Image -->
        @{ Html.RenderAction("RenderSectionImage", "Elements");}


    </div>
</section>

