﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.News>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "webbaseTemplate.cshtml";
    var kind = Umbraco.AssignedContentItem.Url;
    var NewList = (kind == "/en/news/")
        ? Umbraco.Content(Guid.Parse("41acea12-9ea2-40b6-99d9-709ccb4e99d9")).ChildrenOfType("newsDetail")
        : Umbraco.Content(Guid.Parse("c7d5475d-7bfc-4315-bc61-3299894eb69c")).ChildrenOfType("newsDetail");
}
<section id="one">
    @foreach (var news in NewList)
    {
        <div class="inner">
            <div class="content">
                <header>
                    <h3><a href="@news.Url">@news.Name</a></h3>
                </header>
                <div class="image fit">
                    <img src="images/pic01.jpg" alt="" />
                </div>
                <p>@Html.Truncate(news.Value("newsBodyText").ToString(),200)</p>
            </div>
        </div>
        <hr />
    }
</section>
