﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.NewsDetail>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "webbaseTemplate.cshtml";
    //var mediaPickerMultipleValue = Model.Value<IEnumerable<IPublishedContent>>("mediaPickerMultiple");
    var mediaPickerSingleValue = Model.Value<IPublishedContent>("newsImage");
}

<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>@Model.Name</h1>
            <p>Created: @Model.CreateDate.ToString()</p>
            <p>Updated: @Model.UpdateDate.ToString()</p>
        </header>
        <p>@Model.Value("newsBodyText")</p>
        @if (mediaPickerSingleValue != null)
        {
            <img src="@mediaPickerSingleValue.Url" />
        }
    </div>
</section>