﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}

@* the fun starts here *@
<!DOCTYPE HTML>
<html>
<head>
    <title>Introspect by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/assets/css/main.css" rel="stylesheet" />
</head>
<body>
    <!-- Breadcrumbs -->
    <div class="breadcrumb">
        @{
            var selection = Model.Ancestors();
            if (selection.Any())
            {
                foreach (var page in selection.OrderBy(x => x.Level))
                {
                    <a href="@page.Url">@page.Name</a> <span>></span>
                }
                <span class="">@Model.Name</span>
            }
        }
    </div>
    <!-- Header -->
    @{ Html.RenderAction("RenderHeader", "SiteSharedLayout");}
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    @RenderBody()

    <!-- Footer -->
    @{ Html.RenderAction("RenderFooter", "SiteSharedLayout");}

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>