﻿<section>
    <h3>Form</h3>
    <form method="post" action="#">
        <div class="row uniform 50%">
            <div class="6u 12u$(xsmall)">
                <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
            </div>
            <div class="6u$ 12u$(xsmall)">
                <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
            </div>
            <div class="12u$">
                <div class="select-wrapper">
                    <select name="demo-category" id="demo-category">
                        <option value="">- Category -</option>
                        <option value="1">Manufacturing</option>
                        <option value="1">Shipping</option>
                        <option value="1">Administration</option>
                        <option value="1">Human Resources</option>
                    </select>
                </div>
            </div>
            <div class="4u 12u$(xsmall)">
                <input type="radio" id="priority-low" name="priority" checked>
                <label for="priority-low">Low Priority</label>
            </div>
            <div class="4u 12u$(xsmall)">
                <input type="radio" id="priority-normal" name="priority">
                <label for="priority-normal">Normal Priority</label>
            </div>
            <div class="4u$ 12u$(xsmall)">
                <input type="radio" id="priority-high" name="priority">
                <label for="priority-high">High Priority</label>
            </div>
            <div class="6u 12u$(small)">
                <input type="checkbox" id="copy" name="copy">
                <label for="copy">Email me a copy of this message</label>
            </div>
            <div class="6u$ 12u$(small)">
                <input type="checkbox" id="human" name="human" checked>
                <label for="human">I am a human and not a robot</label>
            </div>
            <div class="12u$">
                <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
            </div>
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="special" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
        </div>
    </form>
</section>
